@import 'tailwindcss';
@layer theme, base, components, utilities;

@theme {
  /* COLORS */
  --color-primary: #ffffff;
  --color-secondary: #eaecf0;
  --color-tertiary: #f2f4f7;
  --color-tertiary-color-fg: #a80b48;
  /* TEXT-COLORS */
  --color-secondary-700: #344054;
  --color-primary-900: #101828;
  --color-tertiary-600: #475467;

  /* BORDER-COLORS */
  --color-brand-solid: #61646c;
  --color-brand-solid-primary: #161b26;
  --color-error-solid: #d92d20;
  /* FOREGROUND-COLORS */
  --color-fg-success-primary: #079455;
  --color-fg-error-primary: #d92d20;
  --color-fg-warning-primary: #dc6803;
  --color-fg-quaternary-500: #667085;
  --color-fg-brand-primary-600: #c00c53;
  --color-fg-secondary-700: #344054;
  --color-fg-quinary-400: #98a2b3;
  /* UTILITY COLORS */
  --color-utility-gray-50: #f9fafb;
  --color-utility-gray-200: #eaecf0;
  --color-utility-gray-500: #667085;
  --color-utility-gray-600: #475467;
  --color-utility-gray-700: #344054;
  --color-utility-brand-50: #fff4f8;
  --color-utility-brand-200: #fddeea;
  --color-utility-brand-500: #d80e5d;
  --color-utility-brand-600: #c00c53;
  --color-utility-brand-700: #a80b48;
  --color-utility-error-50: #fef3f2;
  --color-utility-error-200: #fecdca;
  --color-utility-error-500: #f04438;
  --color-utility-error-600: #d92d20;
  --color-utility-error-700: #b42318;
  --color-utility-warning-50: #fffaeb;
  --color-utility-warning-200: #fedf89;
  --color-utility-warning-500: #f79009;
  --color-utility-warning-600: #dc6803;
  --color-utility-warning-700: #b54708;
  --color-utility-success-50: #ecfdf3;
  --color-utility-success-200: #abefc6;
  --color-utility-success-500: #17b26a;
  --color-utility-success-600: #079455;
  --color-utility-success-700: #067647;
  --color-utility-gray-blue-50: #f8f9fc;
  --color-utility-gray-blue-200: #d5d9eb;
  --color-utility-gray-blue-500: #4e5ba6;
  --color-utility-gray-blue-600: #3e4784;
  --color-utility-gray-blue-700: #363f72;
  --color-utility-blue-light-50: #f0f9ff;
  --color-utility-blue-light-200: #b9e6fe;
  --color-utility-blue-light-500: #0ba5ec;
  --color-utility-blue-light-600: #0086c9;
  --color-utility-blue-light-700: #026aa2;
  --color-utility-blue-50: #eff8ff;
  --color-utility-blue-200: #b2ddff;
  --color-utility-blue-500: #2e90fa;
  --color-utility-blue-600: #1570ef;
  --color-utility-blue-700: #175cd3;
  --color-utility-indigo-50: #eef4ff;
  --color-utility-indigo-200: #c7d7fe;
  --color-utility-indigo-500: #6172f3;
  --color-utility-indigo-600: #444ce7;
  --color-utility-indigo-700: #3538cd;
  --color-utility-purple-50: #f4f3ff;
  --color-utility-purple-200: #d9d6fe;
  --color-utility-purple-500: #7a5af8;
  --color-utility-purple-600: #6938ef;
  --color-utility-purple-700: #5925dc;
  --color-utility-pink-50: #fdf2fa;
  --color-utility-pink-200: #fcceee;
  --color-utility-pink-500: #ee46bc;
  --color-utility-pink-600: #dd2590;
  --color-utility-pink-700: #c11574;
  --color-utility-orange-50: #fef6ee;
  --color-utility-orange-200: #f9dbaf;
  --color-utility-orange-500: #ef6820;
  --color-utility-orange-600: #e04f16;
  --color-utility-orange-700: #b93815;

  /* SPACING */
  --spacing-none: 0;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;
  --spacing-7xl: 64px;
  --spacing-8xl: 80px;
  --spacing-9xl: 96px;
  --spacing-10xl: 128px;
  --spacing-11xl: 160px;

  /* RADIUS */
  --radius-none: 0;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 9999px;
  /* BACKGROUND-IMAGE */

  /* Breakpoints */
  --breakpoint-desktop: 1024px;
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
}
@layer utilities {
  .bg-empty {
    background-color: var(--color-primary);
  }
}
